/* .click-area #arcadia10$ */
.click-area #arcadia104 {width: 418px; height:250px; margin-left: 662px; margin-top:0px;}
.click-area #arcadia105 {width: 140px; height:205px; margin-left: 541px; margin-top:0px;}
.click-area #arcadia107 {width: 344px; height: 220px; margin-left: 320px; margin-top:110px;}
.click-area #arcadia108 {width: 317px; height:222px; margin-left: 27px; margin-top:0px;} 									    
.click-area #arcadia111 {width:269px; height:198px; margin-left: 526px; margin-top: 296px;} 
.click-area #arcadia112 {width:160px; height:236px; margin-left: 371px; margin-top: 271px;} 
.click-area #arcadia113 {width:406px; height:268px; margin-left: 0; margin-top: 330px;} 
.click-area #arcadia115 {width:199px; height:128px; margin-left: 738px; margin-top: 208px;} 
.click-area #arcadia116 {width:194px; height:147px; margin-left: 691px; margin-top: 460px;} 
.click-area #arcadia117 {width:190px; height:127px; margin-left: 858px; margin-top: 364px;} 

/* .click-area #arcadia20$ */
.click-area #arcadia201 {width:646px; height:1061px; margin-left: 433px; margin-top:0px;}
.click-area #arcadia204 {width: 363px; height:236px; margin-left:45px; margin-top:401px;}
.click-area #arcadia205 {width: 217px; height:478px; margin-left: 255px; margin-top:521px;}
.click-area #arcadia206 {width:540px; height:404px; margin-left :0px; margin-top:0px;}
.click-area #arcadia210 {width:465px; height:340px; margin-left: 507px; margin-top:1166px;} 
.click-area #arcadia213 {width:468px; height:395px; margin-left:0px; margin-top:1380px;} 	 
.click-area #arcadia214 {width:584px; height:394px; margin-left:0px; margin-top:993px;} 
.click-area #arcadia219 {width:326px; height:504px; margin-left: 754px; margin-top: 1414px;}   

/* .click-area #arcadia30$ */
.click-area #arcadia301 {width:645px; height:1038px; margin-left:0px; margin-top:0px;}
.click-area #arcadia304 {width: 356px; height:531px; margin-left:724px; margin-top:0px;}
.click-area #arcadia306 {width:526px; height:356px; margin-left :553px; margin-top:712px;}
.click-area #arcadia308 {width: 416px; height:430px; margin-left: 0px; margin-top:1012px;}
.click-area #arcadia309 {width:462px; height:339px; margin-left:240px; margin-top:1038px;} 
.click-area #arcadia311 {width:233px; height:530px; margin-left: 581px; margin-top:1052px;} 
.click-area #arcadia314 {width:420px; height:353px; margin-left:623px; margin-top: 1568px;} 
.click-area #arcadia316 {width:654px; height:441px; margin-left:0px; margin-top:1442px;} 

/* .click-area #arcadia40$ */
.click-area #arcadia402 {width:638px; height:1000px; margin-left:441px; margin-top:0px;}
.click-area #arcadia403 {width: 527px; height:357px; margin-left: 0px; margin-top:0px;}
.click-area #arcadia405 {width:416px; height:252px; margin-left :142px; margin-top:1281px;}
.click-area #arcadia406 {width: 371px; height:555px; margin-left: 0px; margin-top:759px;}
.click-area #arcadia408 {width: 540px; height:358px; margin-left: 0px; margin-top:1533px;}
.click-area #arcadia410 {width:206px; height:477px; margin-left:873px; margin-top:1444px;} 
.click-area #arcadia411 {width:332px; height:225px; margin-left: 540px; margin-top:1696px;} 
.click-area #arcadia412 {width:655px; height:442px; margin-left: 395px; margin-top:1000px;} 
.click-area #arcadia413 {width:151px; height:115px; margin-left: 449px; margin-top:1442px;} 

/* .click-area #arcadia50$ */
.click-area #arcadia501 {width:644px; height:981px; margin-left:435px; margin-top:481px;}
.click-area #arcadia503 {width:540px; height:373px; margin-left: 0px; margin-top:0px;}
.click-area #arcadia504 {width: 233px; height:532px; margin-left:846px; margin-top:0px;}
.click-area #arcadia506 {width: 435px; height:435px; margin-left: 0px; margin-top:374px;}
.click-area #arcadia509 {width:457px; height:336px; margin-left:0px; margin-top:1229px;}
.click-area #arcadia510 {width:327px; height:507px; margin-left:0px; margin-top:751px;} 
.click-area #arcadia515 {width:452px; height:410px; margin-left:370px; margin-top:1463px;}	
.click-area #arcadia516 {width:538px; height:363px; margin-left:504px; margin-top:1403px;}			


/* .click-area #arcadia60$ */
.click-area #arcadia601 {width:642px; height:1083px; margin-left:0px; margin-top:0px;}
.click-area #arcadia604 {width: 468px; height:300px; margin-left:610px; margin-top:255px;}
.click-area #arcadia605 {width:332px; height:506px; margin-left :747px; margin-top:521px;}
.click-area #arcadia607 {width: 270px; height:249px; margin-left: 539px; margin-top:555px;}
.click-area #arcadia608 {width:539px; height:492px; margin-left:540px; margin-top:978px;}
.click-area #arcadia612 {width:213px; height:485px; margin-left:350px; margin-top:1036px;}
.click-area #arcadia615 {width:315px; height:569px; margin-left:764px; margin-top:1348px;}	
.click-area #arcadia618 {width:537px;  height:363px; margin-left:252px; margin-top:1521px;}

@media screen and (max-width: 1440px){

 /* .click-area #arcadia10$ */
.click-area #arcadia104 {width: 29.03vw; height:17.36vw; margin-left: 45.97vw; margin-top:0.00vw;}
.click-area #arcadia105 {width: 9.72vw; height:14.24vw; margin-left: 37.57vw; margin-top:0.00vw;}
.click-area #arcadia107 {width: 23.89vw; height: 15.28vw; margin-left: 22.22vw; margin-top:7.64vw;}
.click-area #arcadia108 {width: 22.01vw; height:15.42vw; margin-left: 1.88vw; margin-top:0.00vw;} 									    
.click-area #arcadia111 {width:18.68vw; height:13.75vw; margin-left: 36.53vw; margin-top: 20.56vw;} 
.click-area #arcadia112 {width:11.11vw; height:16.39vw; margin-left: 25.76vw; margin-top: 18.82vw;} 
.click-area #arcadia113 {width:28.19vw; height:18.61vw; margin-left: 0; margin-top: 22.92vw;} 
.click-area #arcadia115 {width:13.819vw; height:8.8889vw; margin-left: 51.25vw; margin-top: 14.44vw;} 
.click-area #arcadia116 {width:13.47vw; height:10.21vw; margin-left: 47.99vw; margin-top: 31.94vw;} 
.click-area #arcadia117 {width:13.19vw; height:8.82vw; margin-left: 59.58vw; margin-top: 25.28vw;} 

/* .click-area #arcadia20$ */
.click-area #arcadia201 {width:44.86vw; height:73.68vw; margin-left: 30.07vw; margin-top:0.00vw;}
.click-area #arcadia204 {width: 25.21vw; height:16.39vw; margin-left:3.13vw; margin-top:27.85vw;}
.click-area #arcadia205 {width: 15.07vw; height:33.19vw; margin-left: 17.71vw; margin-top:36.18vw;}
.click-area #arcadia206 {width:37.50vw; height:28.06vw; margin-left :0.00vw; margin-top:0.00vw;}
.click-area #arcadia210 {width:32.29vw; height:23.61vw; margin-left: 35.21vw; margin-top:80.97vw;} 
.click-area #arcadia213 {width:32.50vw; height:27.43vw; margin-left:0.00vw; margin-top:95.83vw;} 	 
.click-area #arcadia214 {width:40.56vw; height:27.36vw; margin-left:0.00vw; margin-top:68.96vw;} 
.click-area #arcadia219 {width:22.64vw; height:35.00vw; margin-left: 52.36vw; margin-top: 98.19vw;}   

/* .click-area #arcadia30$ */
.click-area #arcadia301 {width:44.79vw; height:72.08vw; margin-left:0.00vw; margin-top:0.00vw;}
.click-area #arcadia304 {width: 24.72vw; height:36.88vw; margin-left:50.28vw; margin-top:0.00vw;}
.click-area #arcadia306 {width:36.53vw; height:24.72vw; margin-left :38.40vw; margin-top:49.44vw;}
.click-area #arcadia308 {width: 28.89vw; height:29.86vw; margin-left: 0.00vw; margin-top:70.28vw;}
.click-area #arcadia309 {width:32.08vw; height:23.54vw; margin-left:16.67vw; margin-top:72.08vw;} 
.click-area #arcadia311 {width:16.18vw; height:36.81vw; margin-left: 40.35vw; margin-top:73.06vw;} 
.click-area #arcadia314 {width:29.17vw; height:24.51vw; margin-left:43.26vw; margin-top: 108.89vw;} 
.click-area #arcadia316 {width:45.42vw; height:30.63vw; margin-left:0.00vw; margin-top:100.14vw;} 

/* .click-area #arcadia40$ */
.click-area #arcadia402 {width:44.31vw; height:69.44vw; margin-left:30.63vw; margin-top:0.00vw;}
.click-area #arcadia403 {width: 36.60vw; height:24.79vw; margin-left: 0.00vw; margin-top:0.00vw;}
.click-area #arcadia405 {width:28.89vw; height:17.50vw; margin-left :9.86vw; margin-top:88.96vw;}
.click-area #arcadia406 {width: 25.76vw; height:38.54vw; margin-left: 0.00vw; margin-top:52.71vw;}
.click-area #arcadia408 {width: 37.50vw; height:24.86vw; margin-left: 0.00vw; margin-top:106.46vw;}
.click-area #arcadia410 {width:14.31vw; height:33.13vw; margin-left:60.63vw; margin-top:100.28vw;} 
.click-area #arcadia411 {width:23.06vw; height:15.63vw; margin-left: 37.50vw; margin-top:117.78vw;} 
.click-area #arcadia412 {width:45.486vw; height:30.694vw; margin-left: 27.431vw; margin-top:69.444vw;} 
.click-area #arcadia413 {width:10.486vw; height:7.986vw; margin-left: 31.181vw; margin-top:100.14vw;} 

/* .click-area #arcadia50$ */
.click-area #arcadia501 {width:44.72vw; height:68.13vw; margin-left:30.21vw; margin-top:33.40vw;}
.click-area #arcadia503 {width:37.50vw; height:25.90vw; margin-left: 0.00vw; margin-top:0.00vw;}
.click-area #arcadia504 {width: 16.18vw; height:36.94vw; margin-left:58.75vw; margin-top:0.00vw;}
.click-area #arcadia506 {width: 30.21vw; height:30.21vw; margin-left: 0.00vw; margin-top:25.97vw;}
.click-area #arcadia509 {width:31.74vw; height:23.33vw; margin-left:0.00vw; margin-top:85.35vw;}
.click-area #arcadia510 {width:22.71vw; height:35.21vw; margin-left:0.00vw; margin-top:52.15vw;} 
.click-area #arcadia515 {width:31.39vw; height:28.47vw; margin-left:25.69vw; margin-top:101.60vw;}	
.click-area #arcadia516 {width:37.36vw; height:25.21vw; margin-left:35.00vw; margin-top:97.43vw;}			


/* .click-area #arcadia60$ */
.click-area #arcadia601 {width:44.58vw; height:75.21vw; margin-left:0.00vw; margin-top:0.00vw;}
.click-area #arcadia604 {width: 32.50vw; height:20.83vw; margin-left:42.36vw; margin-top:17.71vw;}
.click-area #arcadia605 {width:23.06vw; height:35.14vw; margin-left :51.88vw; margin-top:36.18vw;}
.click-area #arcadia607 {width: 18.75vw; height:17.29vw; margin-left: 37.43vw; margin-top:38.54vw;}
.click-area #arcadia608 {width:37.43vw; height:34.17vw; margin-left:37.50vw; margin-top:67.92vw;}
.click-area #arcadia612 {width:14.79vw; height:33.68vw; margin-left:24.31vw; margin-top:71.94vw;}
.click-area #arcadia615 {width:21.88vw; height:39.51vw; margin-left:53.06vw; margin-top:93.61vw;}	
.click-area #arcadia618 {width:37.29vw;  height:25.21vw; margin-left:17.50vw; margin-top:105.63vw;}

}