.click-area #sanctuary101 {width:250px; height:150px; margin-left:415px; margin-top:457px;}
.click-area #sanctuary102 {width:262px; height:153px; margin-left:630px; margin-top:454px;}
.click-area #sanctuary103 {width:227px; height:208px; margin-left:0; margin-top:226px;}
.click-area #sanctuary105 {width:396px; height:230px; margin-left:684px; margin-top:0;}
.click-area #sanctuary106 {width:237px; height:244px; margin-left:132px; margin-top:0;}
.click-area #sanctuary107 {width:486px; height:312px; margin-left:285px; margin-top:167px;}
.click-area #sanctuary108 {width:297px; height:205px; margin-left:783px; margin-top:167px;}
.click-area #sanctuary109 {width:208px; height:250px; margin-left:858px; margin-top:343px;}
.click-area #sanctuary110 {width:381px; height:184px; margin-left:58px; margin-top:423px;}

.click-area #sanctuary202 {width:424px; height:355px; margin-left:0; margin-top:1425px;}
.click-area #sanctuary203 {width:430px; height:320px; margin-left:0; margin-top:1112px;}
.click-area #sanctuary205 {width:500px; height:430px; margin-left:580px; margin-top:1158px;}
.click-area #sanctuary206 {width:633px; height:466px; margin-left:196px; margin-top:0;}
.click-area #sanctuary207 {width:300px; height:486px; margin-left:420px; margin-top:1435px;}
.click-area #sanctuary208 {width:641px; height:900px; margin-left:439px; margin-top:264px;}
.click-area #sanctuary209 {width:461px; height:616px; margin-left:0; margin-top:499px;}
.click-area #sanctuary210 {width:185px; height:386px; margin-left:413px; margin-top:1092px;}
.click-area #sanctuary211 {width:198px; height:520px; margin-left:0; margin-top:0;}
.click-area #sanctuary212 {width:358px; height:280px; margin-left:661px; margin-top:11px;}

.click-area #sanctuary302 {width:610px; height:858px; margin-left:470px; margin-top:1062px;}
.click-area #sanctuary303 {width:288px; height:440px; margin-left:238px; margin-top:1480px;}
.click-area #sanctuary304 {width:513px; height:685px; margin-left:567px; margin-top:0;}
.click-area #sanctuary305 {width:345px; height:360px; margin-left:0px; margin-top:544px;}
.click-area #sanctuary307 {width:236px; height:561px; margin-left:0; margin-top:0;}
.click-area #sanctuary308 {width:506px; height:408px; margin-left:575px; margin-top:681px;}
.click-area #sanctuary309 {width:456px; height:641px; margin-left:59px; margin-top:848px;}
.click-area #sanctuary310 {width:387px; height:254px; margin-left:0; margin-top:1451px;}
.click-area #sanctuary311 {width:323px; height:489px; margin-left:290px; margin-top:396px;}
.click-area #sanctuary312 {width:280px; height:422px; margin-left:399px; margin-top:840px;}

.click-area #sanctuary403 {width:524px; height:627px; margin-left:556px; margin-top:1293px;}
.click-area #sanctuary404 {width:725px; height:1039px; margin-left:0; margin-top:0;}
.click-area #sanctuary406 {width:310px; height:475px; margin-left:0; margin-top:1033px;}
.click-area #sanctuary407 {width:283px; height:375px; margin-left:656px; margin-top:0;}
.click-area #sanctuary408 {width:210px; height:553px; margin-left:870px; margin-top:788px;}
.click-area #sanctuary409 {width:306px; height:523px; margin-left:774px; margin-top:268px;}
.click-area #sanctuary410 {width:299px; height:643px; margin-left:304px; margin-top:908px;}
.click-area #sanctuary411 {width:351px; height:455px; margin-left:562px; margin-top:646px;}
.click-area #sanctuary412 {width:415px; height:357px; margin-left:0; margin-top:1507px;}
.click-area #sanctuary413 {width:420px; height:166px; margin-left:141px; margin-top:1754px;}

.click-area #sanctuary504 {width:525px; height:475px; margin-left:184px; margin-top:1445px;}
.click-area #sanctuary506 {width:414px; height:322px; margin-left:63px; margin-top:1194px;}
.click-area #sanctuary507 {width:234px; height:548px; margin-left:0; margin-top:1372px;}
.click-area #sanctuary508 {width:492px; height:676px; margin-left:588px; margin-top:1244px;}
.click-area #sanctuary509 {width:640px; height:932px; margin-left:0; margin-top:228px;}
.click-area #sanctuary510 {width:436px; height:299px; margin-left:511px; margin-top:0;}
.click-area #sanctuary511 {width:402px; height:265px; margin-left:678px; margin-top:258px;}
.click-area #sanctuary512 {width:493px; height:319px; margin-left:587px; margin-top:515px;}
.click-area #sanctuary513 {width:398px; height:510px; margin-left:609px; margin-top:787px;}
.click-area #sanctuary514 {width:343px; height:507px; margin-left:369px; margin-top:974px;}

.click-area #sanctuary602 {width:700px; height:993px; margin-left:0; margin-top:0;}
.click-area #sanctuary603 {width:278px; height:424px; margin-left:601px; margin-top:0;}
.click-area #sanctuary604 {width:454px; height:637px; margin-left:626px; margin-top:409px;}
.click-area #sanctuary605 {width:359px; height:245px; margin-left:721px; margin-top:234px;}
.click-area #sanctuary607 {width:342px; height:342px; margin-left:96px; margin-top:990px;}
.click-area #sanctuary608 {width:423px; height:680px; margin-left:657px; margin-top:1240px;}
.click-area #sanctuary609 {width:374px; height:250px; margin-left:218px; margin-top:1310px;}
.click-area #sanctuary610 {width:320px; height:590px; margin-left:0; margin-top:1330px;}
.click-area #sanctuary611 {width:350px; height:211px; margin-left:730px; margin-top:1046px;}
.click-area #sanctuary612 {width:320px; height:498px; margin-left:422px; margin-top:822px;}

@media screen and (max-width: 1440px){
	.click-area #sanctuary101 {width:17.36vw; height:10.42vw; margin-left:28.82vw; margin-top:31.74vw;}
	.click-area #sanctuary102 {width:18.19vw; height:10.63vw; margin-left:43.75vw; margin-top:31.53vw;}
	.click-area #sanctuary103 {width:15.76vw; height:14.44vw; margin-left:0; margin-top:15.69vw;}
	.click-area #sanctuary105 {width:27.50vw; height:15.97vw; margin-left:47.50vw; margin-top:0;}
	.click-area #sanctuary106 {width:16.46vw; height:16.94vw; margin-left:9.17vw; margin-top:0;}
	.click-area #sanctuary107 {width:33.75vw; height:21.67vw; margin-left:19.79vw; margin-top:11.60vw;}
	.click-area #sanctuary108 {width:20.63vw; height:14.24vw; margin-left:54.38vw; margin-top:11.60vw;}
	.click-area #sanctuary109 {width:14.44vw; height:17.36vw; margin-left:59.58vw; margin-top:23.82vw;}
	.click-area #sanctuary110 {width:26.46vw; height:12.78vw; margin-left:4.03vw; margin-top:29.38vw;}

	.click-area #sanctuary202 {width:29.44vw; height:24.65vw; margin-left:0; margin-top:98.96vw;}
	.click-area #sanctuary203 {width:29.86vw; height:22.22vw; margin-left:0; margin-top:77.22vw;}
	.click-area #sanctuary205 {width:34.72vw; height:29.86vw; margin-left:40.28vw; margin-top:80.42vw;}
	.click-area #sanctuary206 {width:43.96vw; height:32.36vw; margin-left:13.61vw; margin-top:0;}
	.click-area #sanctuary207 {width:20.83vw; height:33.75vw; margin-left:29.17vw; margin-top:99.65vw;}
	.click-area #sanctuary208 {width:44.51vw; height:62.50vw; margin-left:30.49vw; margin-top:18.33vw;}
	.click-area #sanctuary209 {width:32.01vw; height:42.78vw; margin-left:0; margin-top:34.65vw;}
	.click-area #sanctuary210 {width:12.85vw; height:26.81vw; margin-left:28.68vw; margin-top:75.83vw;}
	.click-area #sanctuary211 {width:13.75vw; height:36.11vw; margin-left:0; margin-top:0;}
	.click-area #sanctuary212 {width:24.86vw; height:19.44vw; margin-left:45.90vw; margin-top:0.76vw;}

	.click-area #sanctuary302 {width:42.36vw; height:59.58vw; margin-left:32.64vw; margin-top:73.75vw;}
	.click-area #sanctuary303 {width:20.00vw; height:30.56vw; margin-left:16.53vw; margin-top:102.78vw;}
	.click-area #sanctuary304 {width:35.63vw; height:47.57vw; margin-left:39.38vw; margin-top:0;}
	.click-area #sanctuary305 {width:23.96vw; height:25.00vw; margin-left:0.00vw; margin-top:37.78vw;}
	.click-area #sanctuary307 {width:16.39vw; height:38.96vw; margin-left:0; margin-top:0;}
	.click-area #sanctuary308 {width:35.14vw; height:28.33vw; margin-left:39.93vw; margin-top:47.29vw;}
	.click-area #sanctuary309 {width:31.67vw; height:44.51vw; margin-left:4.10vw; margin-top:58.89vw;}
	.click-area #sanctuary310 {width:26.88vw; height:17.64vw; margin-left:0; margin-top:100.76vw;}
	.click-area #sanctuary311 {width:22.43vw; height:33.96vw; margin-left:20.14vw; margin-top:27.50vw;}
	.click-area #sanctuary312 {width:19.44vw; height:29.31vw; margin-left:27.71vw; margin-top:58.33vw;}

	.click-area #sanctuary403 {width:36.39vw; height:43.54vw; margin-left:38.61vw; margin-top:89.79vw;}
	.click-area #sanctuary404 {width:50.35vw; height:72.15vw; margin-left:0; margin-top:0;}
	.click-area #sanctuary406 {width:21.53vw; height:32.99vw; margin-left:0; margin-top:71.74vw;}
	.click-area #sanctuary407 {width:19.65vw; height:26.04vw; margin-left:45.56vw; margin-top:0;}
	.click-area #sanctuary408 {width:14.58vw; height:38.40vw; margin-left:60.42vw; margin-top:54.72vw;}
	.click-area #sanctuary409 {width:21.25vw; height:36.32vw; margin-left:53.75vw; margin-top:18.61vw;}
	.click-area #sanctuary410 {width:20.76vw; height:44.65vw; margin-left:21.11vw; margin-top:63.06vw;}
	.click-area #sanctuary411 {width:24.38vw; height:31.60vw; margin-left:39.03vw; margin-top:44.86vw;}
	.click-area #sanctuary412 {width:28.82vw; height:24.79vw; margin-left:0; margin-top:104.65vw;}
	.click-area #sanctuary413 {width:29.17vw; height:11.53vw; margin-left:9.79vw; margin-top:121.81vw;}

	.click-area #sanctuary504 {width:36.46vw; height:32.99vw; margin-left:12.78vw; margin-top:100.35vw;}
	.click-area #sanctuary506 {width:28.75vw; height:22.36vw; margin-left:4.38vw; margin-top:82.92vw;}
	.click-area #sanctuary507 {width:16.25vw; height:38.06vw; margin-left:0; margin-top:95.28vw;}
	.click-area #sanctuary508 {width:34.17vw; height:46.94vw; margin-left:40.83vw; margin-top:86.39vw;}
	.click-area #sanctuary509 {width:44.44vw; height:64.72vw; margin-left:0; margin-top:15.83vw;}
	.click-area #sanctuary510 {width:30.28vw; height:20.76vw; margin-left:35.49vw; margin-top:0;}
	.click-area #sanctuary511 {width:27.92vw; height:18.40vw; margin-left:47.08vw; margin-top:17.92vw;}
	.click-area #sanctuary512 {width:34.24vw; height:22.15vw; margin-left:40.76vw; margin-top:35.76vw;}
	.click-area #sanctuary513 {width:27.64vw; height:35.42vw; margin-left:42.29vw; margin-top:54.65vw;}
	.click-area #sanctuary514 {width:23.82vw; height:35.21vw; margin-left:25.63vw; margin-top:67.64vw;}

	.click-area #sanctuary602 {width:48.61vw; height:68.96vw; margin-left:0; margin-top:0;}
	.click-area #sanctuary603 {width:19.31vw; height:29.44vw; margin-left:41.74vw; margin-top:0;}
	.click-area #sanctuary604 {width:31.53vw; height:44.24vw; margin-left:43.47vw; margin-top:28.40vw;}
	.click-area #sanctuary605 {width:24.93vw; height:17.01vw; margin-left:50.07vw; margin-top:16.25vw;}
	.click-area #sanctuary607 {width:23.75vw; height:23.75vw; margin-left:6.67vw; margin-top:68.75vw;}
	.click-area #sanctuary608 {width:29.38vw; height:47.22vw; margin-left:45.63vw; margin-top:86.11vw;}
	.click-area #sanctuary609 {width:25.97vw; height:17.36vw; margin-left:15.14vw; margin-top:90.97vw;}
	.click-area #sanctuary610 {width:22.22vw; height:40.97vw; margin-left:0; margin-top:92.36vw;}
	.click-area #sanctuary611 {width:24.31vw; height:14.65vw; margin-left:50.69vw; margin-top:72.64vw;}
	.click-area #sanctuary612 {width:22.22vw; height:34.58vw; margin-left:29.31vw; margin-top:57.08vw;}
}




@media screen and (max-width: 768px){
	.click-area {display:none;}
}